* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Nunito', sans-serif;

}

img {
    height: 4rem;
}

a {
    text-decoration: none;
    color: black;
}

/* aqui empieza el head html */

.miniTop {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #F5F5F5;
    height: 3rem;
}

.navRigth {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: end;
}

.miniTop div img {
    height: 1rem;
    padding: 1rem;
    margin-left: 2rem;
}

.principalHeader {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

#title {
    text-align: center;
    justify-items: center;
    font-size: 45px;
}

.principalHeader img {
    height: 3.7rem;
    padding: .3rem;
    margin-left: 2rem;
}

.navRigth ul li:hover {
    text-decoration: underline;
}


/* aqui empieza el main html */

.topMain {
    background-color: #F5F5F5;
    height: 4rem;
}

.bannerPromo {
    width: 100%;
    height: 25rem;
    background-size: cover;
    background-image: url(../img/fondoPromo.jpg.jpg);
}

.infoPromo {
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.infoPromo p {
    font-size: 20px;
}

.infoPromo h2 {
    font-size: 40px;
    font-family: 'Bakbak One', 'Nunito', sans-serif;
    text-align: center;
    margin: .5rem;
}

.infoPromo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoPromo2 h3 {
    font-size: 25px;
}

.verMas {
    color: #F5F5F5;
    background-color: black;
    margin: .5rem;
    padding: .5rem;
    border: 1px solid white;
    border-radius: 5%;
    transition: 1s;
}

.verMas:hover {
    color: black;
    background-color: #F5F5F5;
    border: 1px solid black;
    transition: 1s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

.seccondDiv {
    height: 20rem;
}

/* inicio de footer */

footer {
    background-color: #F5F5F5;
    height: 10rem;
}

.footerFlex {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}

.copyrigth {
    display: flex;
    padding-right: 2rem;
    justify-content: flex-end;
}

.footerFlex div a {
    text-decoration: underline;
}

.foo2 {
    display: flex;
    align-items: flex-end;
}

.foo3,
.foo1 {
    justify-content: space-between;
}

/* inicio del form contacto */

.mainContacto {
    background-color: white;
}

.mainContacto div {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}

.mainContacto div h2 {
    font-family: 'Bakbak One', 'Nunito', sans-serif;
    font-size: 30px;
}

.mainContacto div p {
    font-size: 20px;
}

.formulario {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    background-color: #a39c9c;
    height: 30rem;
    width: 20rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem 8rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.formulario label {
    font-size: 25px;
}

.formulario input {
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

.botonContacto {
    color: #F5F5F5;
    background-color: black;
    margin: .5rem;
    padding: .5rem;
    border: 1px solid white;
    border-radius: 5%;
    transition: 1s;
    height: 35px;
    width: 10rem;
    align-self: center;
}

.botonContacto:hover {
    color: black;
    background-color: #F5F5F5;
    border: 1px solid black;
    transition: 1s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

#notificacionContacto {
    background-color: white;
}

/* inicio de productos */

.mainProductos {
    background-color: white;
}

.productoTitle {
    background-color: #F5F5F5;
    font-family: 'Bakbak One', 'Nunito', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 2.2rem;
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 2rem;
}

.card {
    display: grid;
    background-color: #F5F5F5;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    grid-template-columns: 1fr 1fr;
}

.card img {
    width: 100%;
    height: auto;
}

.infoProduct {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoProduct h2,
p {
    font-family: 'Bakbak One', 'Nunito', sans-serif;
    font-weight: 100;
}

.infoTamaño {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: .5rem;
    gap: .5rem;


}

.infoTamaño input {
    display: none;
}

.infoTamaño label {
    display: flex;
    border: 1px solid black;
    justify-content: center;
}

.infoTamaño label:hover {
    background-color: white;
}

.infoTamaño input[type="radio"]:checked+label {
    background-color: black;
    border-radius: 5px;
    color: white;
}

.costo {
    display: flex;
    gap: .5rem;
}

.costo input {
    background-color: #a39c9c;
    border-radius: 5px;
}

.costo input:hover {
    background-color: #ffffff;
    border-radius: 5px;
}

.carritoCompras h2 {
    background-color: #F5F5F5;

    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 2.2rem;
}

/* --------------------------------cartas de carrito */

.carroDeComprasTenis {
    display: flex;
    justify-content: center;
}

#carroDeComprasTenis {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
    width: 40rem;
    margin: 1rem;
}

#carroDeComprasTenis h2 {
    align-self: center;
    border-bottom: 3px solid black;
    margin-bottom: 2rem;
}

.cardShop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 30rem;
    border-bottom: 3px solid black;
    margin: 1rem;
}

.cardShop img {
    width: 100%;
    height: auto;
    margin-right: 10px;
    border-right: 1px solid black;
}

.cardShop div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}

#eliminarDeCarrito {
    background-color: red;
    color: white;
}

/* --------------------------------cartas de carrito */

.datosNota {
    background-color: #F5F5F5;
    padding: 1rem;
}

.formulario2 {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    background-color: #a39c9c;
    height: 30rem;
    width: 20rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem 8rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.formulario2 label {
    font-size: 25px;
}

.formulario2 input {
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

.botonContacto2 {
    color: #F5F5F5;
    background-color: black;
    margin: .5rem;
    padding: .5rem;
    border: 1px solid white;
    border-radius: 5%;
    transition: 1s;
    height: 35px;
    width: 10rem;
    align-self: center;
}

.botonContacto2:hover {
    color: black;
    background-color: #F5F5F5;
    border: 1px solid black;
    transition: 1s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}


.factura {
    background-color: #a39c9c;
    margin: 1rem 5rem 1rem 5rem;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.factura div p {
    font-size: 20px;
}